
@import url('./reset.css');

@import url('./reset.css');

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none;
  /* Початково прихований */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.loader.show {
  display: block;
  /* Показується, коли має клас .show */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.search-container {
  margin-bottom: 20px;
}

.image-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-card:hover {
  transform: translateY(-5px);
}

.image-card img {
  max-width: 100%;
  height: auto;
}

.image-details {
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.image-details p {
  margin: 5px 0;
}





img {
  display: block;
  max-width: 100%;
}

.search-container {
  margin: 10px 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;

  padding: 16px;
}

button {
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background: #4e75ff;

  font-weight: 500;
  color: #fff;

  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}


.images-place {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 1128px;
}

.card {
  list-style: none;
  width: 360px;
  border: solid 2px #808080;
  overflow: hidden;
}

.place-for-image {
  width: 360px;
  height: 150px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-text {
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .bold-text {
  font: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  color: #2e2f42;
} */

.info-value {
  font: inherit;
  font-size: 12px;
  line-height: 2;
  color: #2e2f42;
}
.load-more{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  margin-top: 32px;
}